// ********************************************************************
//                            General Styles
// ********************************************************************

$paddingSmall:2em;
$paddingBig:10%;
$backgroundColor:ivory;
$fillColor: rgba(189, 86, 3, 0.3);
$accentColor: rgb(209, 95, 2);
$discreetColor: rgba(119, 67, 17, 0.6);
$overlayColor: rgba(255, 255, 255, 0.8);

html.main-page {
    background-color: $backgroundColor; //fallback
    background-image: linear-gradient(to right, $backgroundColor, white 50%, $backgroundColor);
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}

.showing {
    display: block;
}

#hidden {display:none;}

// ********************************************************************
//                            Header
// ********************************************************************

header {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: $paddingSmall;
}

.rotate {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

// ********************************************************************
//                            Main
// ********************************************************************

main {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: right;
    border: none;
    position: relative;
    display: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.main__link-back {
    position: relative;
    z-index: 2;
    margin-right: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: $backgroundColor;
    border-radius: 10px;
}

iframe {
    background-color: $backgroundColor;
    background-image: linear-gradient(to right, ivory, white 70%, ivory);
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 0;
}


// ********************************************************************
//                            Subpages
// ********************************************************************

.subpage__body {
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subpage__section-portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

figure {
    max-width: 70vw;
    margin: 0 0 1rem 0;
}

figure img {
    border-radius: 15px;
}

.imageText {
    display: none;
}


// ********************************************************************
//                            Nav
// ********************************************************************

nav {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: auto;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

// ********************************************************************
//                            Svg (the tree)
// ********************************************************************

object {
    width: 100%;
    height: auto;
    margin: auto;
}

a {
    color: $accentColor;
    text-decoration: none;
}

a:hover .edge {
    fill: $fillColor;
    transition: fill 0.4s;
}

a:visited .details {
    stroke: $discreetColor;
    transition: stroke 0.2s;
}

a:active text {fill: $accentColor}


// a:active .outline, a:visited .outline{
//     stroke: $discreetColor;
//     fill: $discreetColor;
//     transition: all 0.2s;
// }

a:visited .edge {
    stroke: black;
}
a:active .edge {stroke: $accentColor}

.outline {
    stroke: black;
    fill: black;
}

.edge {
    fill: white;
}

a:hover>text {
    -webkit-filter: drop-shadow(3px 3px 6px $accentColor);
    filter: drop-shadow(3px 3px 6px $accentColor);
}

iframe a {
    font-weight: bold;
}