// ********************************************************************
//                            General Styles
// ********************************************************************


$paddingSmall:2em;
$paddingBig:10%;
$backgroundColor:rgb(167, 164, 196);

html {
    background-color: $backgroundColor;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {color:rgb(68, 5, 21);}
a:hover {color:rgb(184, 33, 33);}

img {width:100%; height:auto; display:block;}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
}

.showing {
    display: block;
}

// .hidden {
//     visibility: hidden;
// }

div.ground {
    display: none;
}

// ********************************************************************
//                            Header
// ********************************************************************

header {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: $paddingSmall;
    text-align: center;
}

// ********************************************************************
//                            Main
// ********************************************************************

main {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: right;
    border: none;
    position: relative;
    display: none;
    // overflow: auto;
}

.main__link-back {
    position: sticky;
    z-index: 2;
    margin-right: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: $backgroundColor;
}

iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}


// ********************************************************************
//                            Subpages
// ********************************************************************

.subpage__body {
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
}

.subpage__section-portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

figure {
    max-width: 70vw;
    margin: 0;
}


// ********************************************************************
//                            Nav (the tree)
// ********************************************************************

nav {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center; 
    padding-top: $paddingSmall;
}

// ********************************************************************
//                            Svg (the tree)
// ********************************************************************

// object{width:100%;
// height: auto;}


.details {opacity:0;}
// .leaf:hover .details{opacity:1;}
a:hover .details{opacity:1; transition:opacity 0.3s;}

