// ********************************************************************
//                            General Styles
// ********************************************************************


$paddingSmall:2em;
$paddingBig:10%;
$backgroundColor:rgb(167, 164, 196);

html {
    background-color: $backgroundColor;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {color:rgb(68, 5, 21);}
a:hover {color:rgb(184, 33, 33);}

img {width:100%; height:auto; display:block;}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
}

.showing {
    display: block;
}

.hidden {
    visibility: hidden;
}

div.ground {
    display: none;
}

// ********************************************************************
//                            Header
// ********************************************************************

header {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: $paddingSmall;
    text-align: center;
}

// ********************************************************************
//                            Main
// ********************************************************************

main {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: right;
    border: none;
    position: relative;
    display: none;
    // overflow: auto;
}

.main__link-back {
    position: sticky;
    z-index: 2;
    margin-right: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: $backgroundColor;
}

iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}


// ********************************************************************
//                            Subpages
// ********************************************************************

.subpage__body {
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
}

.subpage__section-portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

figure {
    max-width: 70vw;
    margin: 0;
}


// ********************************************************************
//                            Nav (the tree)
// ********************************************************************

nav {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    display: grid;
    text-align: center;
    grid-template-rows: 184px 1fr 1fr 1fr;
    grid-template-columns: 1fr 10px 1fr;
    width: 90%;
    max-width: 378px;
    padding-top: $paddingSmall;
}

.nav__flowerStalk {
    grid-row: 2/5;
    grid-column: 2/3;
    background-color: white;
    box-shadow: inset 0px 0px 4px 2px black;
}

nav {
    a {
        display: block;
        width: 100%;
        background-image: url('leaf.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    a:first-child {
        grid-row: 1/2;
        grid-column: 1/4;
        justify-self: center;
        background-image: url('leaf-up.png');
        max-height: 184px;
    }

    a:first-child:hover {
        background-image: url('leaf-up-hover.png');
        transition: .5s ease;
    }

    a:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    a:nth-child(3) {
        grid-row: 2/3;
        grid-column: 3/4;
        background-image: url('leaf-right.png');
    }

    a:nth-child(3):hover {
        background-image: url('leaf-right-hover.png');
        transition: .5s ease;
    }

    a:nth-child(4) {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    a:hover {
        background-image: url('leaf-hover.png');
        transition: .5s ease;
    }
}