// ********************************************************************
//                         Desktop General Styles
// ********************************************************************

html.main-page {
    background-color: $backgroundColor;
    background: radial-gradient(circle at 70% 50%, white 30%, ivory);
}

body.index {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    margin: auto;
}

// ********************************************************************
//                         Desktop Nav (the tree)
// ********************************************************************

nav {
    grid-row: 1/3;
    grid-column: 1/2;
    justify-content: flex-end;
    overflow: hidden;
    width: 30vw;
    height: auto;
    padding: $paddingSmall $paddingSmall 0 $paddingBig;
    background-color: transparent;
    background-image: none;
    transition: none;
}

svg {align-self: flex-end; justify-self: flex-end;}

// ********************************************************************
//                        Desktop Header
// ********************************************************************

header {
    padding: $paddingSmall;
}

// ********************************************************************
//                         Desktop Main Content
// ********************************************************************

header {
    grid-row: 1/2;
    grid-column: 2/3;
}

main {
    grid-row: 2/3;
    grid-column: 2/3;
    display: block;
}

iframe {
    background-color: transparent;
    background: transparent;
    min-height: 95%;
    display: block;
    position: relative;
}

.main__link-back {
    display: none;
}

// ********************************************************************
//                         Desktop Subpages
// ********************************************************************

.subpage__body {
    padding-left: $paddingBig;
    padding-right: $paddingBig;
    max-width: 800px;
    align-items: flex-start;
}

.subpage__section-portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

figure {
    max-width: 40%;
    margin: 1rem;
}

// ********************************************************************
//                            Svg (the tree)
// ********************************************************************
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    // 2rem;
    left: 0;
    right: 0;
    height: 100%;
    // calc(100% -1rem);
    width: 100%;
    transition: .5s ease;
    border-radius: 15px;
}

figure:hover .overlay {
    background-color: $overlayColor;
}

figure:hover .imageText {
    display: block;
    opacity: 1;
    transition: .5s ease;
}

.imageText {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

figure {
    position: relative;
}

figcaption {
    display: none;
}

.menuClicked {height:auto}