$headlineFont: 'Gentium Book Basic',
serif;
$mainFont:'Consolas',
'Montserrat',
sans-serif;

body {
    font-family: $mainFont;
}

.subpage__body {
    line-height: 1.5rem
}

h1 {
    font-size: 1.5rem;
    line-height: 1em;
}

a > h1 {color:black}

h1,
h2 {
    font-family: $headlineFont;
    font-weight: normal;
}

h2,
text {
    font-size: 1.5rem;
    
}

h1>span {
    color: $discreetColor;
    position: relative;
    z-index: -1;
    top: -1.7rem;
    left: 2.5rem;
    margin-left:-2.5rem;
    font-size: 1.5rem;
    display: inline-block;
}


.subpage__body a {
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
        line-height: 1rem;
    }

    h2,
    text,
    h1>span {
        font-size: 1.7rem;
    }

    .subpage__body {
        line-height: 2rem
    }
}